<div class="col-lg-4 col-md-4">
    <div class="content_bottom_right">
      <div class="single_bottom_rightbar" onload="addnews()">
        <h2>Latest News</h2>
        <ul class="small_catg popular_catg wow fadeInDown" id="lnews">
         <%if(lnews.length){%>
          <%for(var i=0;i< lnews.length;i++){%>
          <li>
            <div class="media wow fadeInDown"> <a href="#" class="media-left"> <img alt="" src="<%=lnews[i].image%>"></a>
              <div class="media-body">
                <h4 class="media-heading"><a href="/blog/<%=lnews[i].slug%>"><%=lnews[i].title%></a></h4>
                <!-- <p><%=lnews[i].metadesc%></p> -->
                <div class="comments_box"> <span class="meta_date"><%=lnews[i].createdat.toLocaleDateString()%></span><span class="meta_more"><a href="/blog/<%=lnews[i].slug%>">Read More...</a></span> </div>

              </div>
            </div>
          </li>
          <%}%>
          <%}%>
        </ul>
      </div>
      <div class="single_bottom_rightbar">
        <ul role="tablist" class="nav nav-tabs custom-tabs">
          <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="home" href="#mostPopular">Photos</a></li>
          <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="messages" href="#recentComent">Videos</a></li>
        </ul>
        <div class="tab-content">
          <div id="mostPopular" class="tab-pane fade in active" role="tabpanel">
            <ul class="small_catg popular_catg wow fadeInDown">
              <%if(photo.length){%>
              <%for(var i=0;i< photo.length;i++){%>
              <li>
                <div class="media wow fadeInDown"> <a class="media-left" href="#"> <img src="<%=photo[i].image%>" alt=""> </a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="/blog/<%=photo[i].slug%>"><%=photo[i].title%></a></h4>
                    <!-- <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p> -->
                  </div>
                </div>
              </li>
               <%}%>
              <%}%>
            </ul>
          </div>
          <div id="recentComent" class="tab-pane fade" role="tabpanel">
            <ul class="small_catg popular_catg fadeInDown">
              <%if(video.length){%>
              <%for(var i=0; i< video.length;i++){%>
              <li>
                <div class="media wow fadeInDown">
                  <div class="media-body">
                    <h4 class="media-heading"><a href="/blog/<%=video[i].slug%>"><%=video[i].title%></a></h4>
                    <video controls src="<%=video[i].image%>" style="width:100%; height: auto!important;" controlsList="nodownload"  contenteditable="false"><video></video>
                    <!-- <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p> -->
                  </div>
                </div>
              </li>
              <%}%>
              <%}%>
            </ul>
          </div>
        </div>
      </div>
      <!-- <div class="single_bottom_rightbar">
        <h2>Blog Archive</h2>
        <div class="blog_archive wow fadeInDown">
          <form action="#">
            <select>
              <option value="">Blog Archive</option>
              <option value="">October(20)</option>
            </select>
          </form>
        </div>
      </div> -->
      <!-- <div class="single_bottom_rightbar wow fadeInDown">
        <h2>Popular Lnks</h2>
        <ul>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Blog Home</a></li>
          <li><a href="#">Error Page</a></li>
          <li><a href="#">Social link</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div> -->
    </div>
  </div>